* {
    margin: 0;
    padding: 0;
}

body{ 
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4b597c;
}

.mainHeader{
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #16203b;
    height: 12%;
    position: relative;
}

.mainHeader_img{
    height: 90%;
    right: 50%;
    top: 10%;
    position: absolute;
}

.writePart{
    background-color: #324065;
    height: 25%;  
    position: relative;
}

.writePart_form{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: column;
    grid-gap: 0px;
    height: 80%;
    top: 5%;
    left: 5%;
    position: absolute;
    width: 40%
}

.writePart_input--title{
    grid-row: span 1;
    grid-column: span 7;
    background-color: transparent;
    border-width: 2px;
    border-color: #00a9ac;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-left: none;
    color: white;
    width: 100%;
    }

.writePart_input--title:focus{
    background-color: #2f3b5c;
    transition: 0.5s;
}

.writePart_textarea--note{
    background-color: transparent;
    border-width: 2px;
    border-color: #00a9ac;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-left: none;
    color: white;
    width: 100%;
    height: 100%;
    grid-row: span 3;
    grid-column: span 7;
}

.writePart_textarea--note:focus{ 
    background-color: #2f3b5c;
    transition: 0.5s;
}

label{
    visibility: hidden;
    grid-row: span 1;
    grid-column: span 7;  
}

.writePart_button{
    width: 100%;
    cursor: pointer;
    border: none;
    background-color:  transparent;
    grid-row: span 3;
    grid-column: span 1; 
}

.writePart_button:hover{
    background-color:#4b597c; 
}

.listPart{
    overflow-y: scroll;
    height: 63%;  
}

.listPart_elements{
    display: flex;
    left: 5%;
    top: 40%;
    width:45%;
    flex-direction:column;
}

.note{
    background-color: #e42d47;
    height: 20%;
    min-width: 100%;
    display: block;
}
  
.note_header{
    width: 100%;
    background-color:#f74668;
    height: 40%;
}

.note_nav{
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
}

.listPart_elements div{
    margin: 5px;   
}

.note_title{
    flex: 50%;
}

.nav_button--edit{
    flex: 6%; 
}

.nav_button--delete{
    flex: 5%;
}

.nav_button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav_button:hover{
    background-color: #e42d47;
}



