* {
    margin: 0;
    padding: 0;

    }


body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4b597c;
   
    ;
    
   
}

.cale{
    width: 100%;
  
}
.mainHeader{
   
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #16203b;
    text-align: center;
    font-size: 0;
}


.placeWrite{
    background-color: #324065;
    height: 20%;
   
}

 .apostroph{
    color: #e42d47;
  font-family: Arial, Helvetica, sans-serif;
   font-size: 60px;
   margin: 0;
   padding: 0;
   font-weight: bold;
  
}

 .titleNote{
    color:#00A9AC;
    font-size: 50px;
    font-weight:540;
}


.writeNote{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: column;
    grid-gap: 0px;
height: 70%;
width: 40%}

.writeTitle{
        grid-row: span 1;
        grid-column: span 7;
        background-color: transparent;
        border-width: 4px;
        border-color: #4b597c;
        border-style: solid;
        border-radius: none;
        color: white;
        width: 100%;
    }

.writeArea{
    background-color: transparent;
    border-width: 4px;
    border-color: #4b597c;
    
    border-style: solid;
    border-radius: none;
    color: white;
    width: 100%;
    height: 100%;
    grid-row: span 3;
    grid-column: span 7;
}


.submitButton{
    
    width: 100%;
    cursor: pointer;
    border-width: 4px;
    border-color: #4b597c;
    border-style: solid;
    background-color:  transparent;
    grid-row: span 2;
    grid-column: span 1;
    
  
}

.clearButton{
    width: 100%;
    cursor: pointer;
    border-width: 4px;
    border-color: #4b597c;
    border-style: solid;
    background-color:  transparent;
    grid-row: span 2;
    grid-column: span 1;
}

.clearButton:hover{
    background-color:#4b597c; 
}

.submitButton:hover{
    background-color:#4b597c; 
}



.divwrite{
min-width: 90%;

}
.listpart{
    overflow-y: scroll;
    height: 69%;
    
}
.list{
  display: flex;
 
  left: 5%;
  top: 40%;
  width:45%;
  flex-direction:column;
 

}

.firstNote{
    background-color: #e42d47;
    height: 20%;
    min-width: 100%;
    display: block;


}


  

.headerlist{
    width: 100%;
   
    background-color:#f74668;
    height: 35%;
 
}

.navlist{
    display: flex;
    width: 100%;
   height: 100%;
    top: 0;
}

.list div{
    margin: 5px;   
}

.titlediv{
    flex: 50%;
}



.delete{
    border: none;
    background-color: transparent;
    flex: 5%;
    cursor: pointer;

}
.delete:hover{
    background-color: #e42d47;
}
    


.edit{
    border: none;
    background-color: transparent;
    flex: 6%;
    cursor: pointer;
}

.edit:hover{
    background-color: #e42d47;
}


.writenote div{
    
}


.notearea{
    
}

/*span{
    opacity: 0;
    position: absolute;
}
.submitnote:hover span{
    display: inline;
    position: absolute;
	margin: 15px;
    background: #fff1bb;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
	-moz-opacity: 0.8;
	opacity:.80;
	font-weight: normal;
    text-align: center;
    padding: 5px;
   
    
}* {
    margin: 0;
    padding: 0;
    }


body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4b597c;
    position: relative;
   
}

.cale{
    position: fixed;
    background-color: rgb(56, 55, 55);
    height: 100px;
    width: 100%;
    z-index: 99999;
}
.mainHeader{
   
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #16203b;
    text-align: center;
    
    font-size: 0;
}


.placeWrite{
    background-color: #324065;
    height: 150px;
   
    z-index: 99999;
   
}

 .apostroph{
    color: #e42d47;
  font-family: Arial, Helvetica, sans-serif;
   font-size: 60px;
   margin: 0;
   padding: 0;
   font-weight: bold;
  

}

 .titleNote{
    color:#00A9AC;
    font-size: 50px;
    font-weight:540;
}


.writeNote{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: column;
    position: fixed;
    top: 13%;
    left: 5%;
    width: 45%;
    height: 20%;
    grid-gap: 0px;}

    .writeTitle{
        grid-row: span 1;
grid-column: span 7;
background-color: transparent;
border-width: 4px;
    border-color: #4b597c;
    border-style: solid;
border-radius: none;
color: white;
width: 100%;
    }

.writeArea{
background-color: transparent;
border-width: 4px;
    border-color: #4b597c;
    
    border-style: solid;
border-radius: none;
color: white;
width: 100%;
height: 100%;
grid-row: span 3;
grid-column: span 7;
}


.submitButton{
    
    width: 100%;
    cursor: pointer;
    border-width: 4px;
    border-color: #4b597c;
    border-style: solid;
    background-color:  transparent;
    grid-row: span 2;
grid-column: span 1;
    
  
}

.clearButton{
    width: 100%;
    cursor: pointer;
    border-width: 4px;
    border-color: #4b597c;
    border-style: solid;
    background-color:  transparent;
    grid-row: span 2;
grid-column: span 1;
}

.clearButton:hover{
    background-color:#4b597c; 
}

.submitButton:hover{
    background-color:#4b597c; 
}



.divwrite{
min-width: 90%;

}

.list{
  display: flex;
  overflow: hidden;
  left: 5%;
  top: 40%;
  width:45%;
  flex-direction:column;
  height: 100%;
  position: absolute;
z-index: 0;
 
 
}

.firstNote{
    background-color: #e42d47;
    height: 20%;
    min-width: 100%;
    display: block;


}


  

.headerlist{
    width: 100%;
    position: relative;
    background-color:#f74668;
    height: 35%;
 
}

.navlist{
    display: flex;
    width: 100%;
   height: 100%;
   position: absolute;
    top: 0;
}

.list div{
    margin: 5px;   
}

.titlediv{
    flex: 50%;
}



.delete{
    border: none;
    background-color: transparent;
    flex: 5%;
    cursor: pointer;

}
.delete:hover{
    background-color: #e42d47;
}
    


.edit{
    border: none;
    background-color: transparent;
    flex: 6%;
    cursor: pointer;
}

.edit:hover{
    background-color: #e42d47;
}


.writenote div{
    
}


.notearea{
    
}

/*span{
    opacity: 0;
    position: absolute;
}
.submitnote:hover span{
    display: inline;
    position: absolute;
	margin: 15px;
    background: #fff1bb;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
	-moz-opacity: 0.8;
	opacity:.80;
	font-weight: normal;
    text-align: center;
    padding: 5px;
   
    
}